# Python artifacts
__pycache__/
*.py[cod]
*$py.class

# Logs
*.log
*.json

# System specific files
.DS_Store
.directory
Thumbs.db

# IDE specific files
.vscode/
.idea/

# Swap files (Vim/Nano)
*.swp
*~

# Virtual Environment
venv/
env/