[Unit]
Description=Kernel-Eye Security Agent (eBPF)
After=network.target auditd.service

[Service]
Type=simple
User=root
ExecStart=/usr/bin/python3 /usr/local/bin/kernel_eye.py
Restart=always
RestartSec=3
Environment=PYTHONUNBUFFERED=1
ProtectSystem=full

[Install]
WantedBy=multi-user.target